.howerButton {
    width: 198px;
    height: 48px;
    border-radius: 10px;
    border: 3px solid #4c94f0;
    color: #4c94f0;
    box-shadow: 0px 6px 18px 0px rgba(31, 110, 212, 0.42);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .normalButton {
    width: 198px;
    height: 48px;
    border-radius: 10px;
    color: #1f6ed4;
    border: 1px solid #1f6ed4;
    box-shadow: 0px 6px 18px 0px rgba(31, 110, 212, 0.42);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .activeButton {
    width: 198px;
    height: 48px;
    border: none;
    color: #4c94f0;
    border-radius: 10px;
    background: #0052bc;
    box-shadow: 0px 6px 18px 0px rgba(31, 110, 212, 0.42);
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .disabledButton {
    width: 198px;
    height: 48px;
    color: #4c94f0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 6px 18px 0px rgba(210, 210, 210, 0.42);
    color: #c9c9c9;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .howerButton2 {
    width: 198px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid #4c94f0;
    color: #fff;
    background-color: #4c94f0;
    box-shadow: 0px 6px 18px 0px rgba(31, 110, 212, 0.42);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .normalButton2 {
    width: 198px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    background-color: #1f6ed4;
    border: 1px solid #1f6ed4;
    box-shadow: 0px 6px 18px 0px rgba(31, 110, 212, 0.42);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .activeButton2 {
    width: 198px;
    height: 50px;
    border: none;
    color: #4c94f0;
    border-radius: 10px;
    background: #0052bc;
    box-shadow: 0px 6px 18px 0px rgba(31, 110, 212, 0.42);
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .disabledButton2 {
    width: 198px;
    height: 50px;
    border-radius: 10px;
    background-color: #c9c9c9;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 6px 18px 0px rgba(210, 210, 210, 0.42);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .howerButton3 {
    width: 198px;
    height: 42px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #ff912b;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .normalButton3 {
    width: 198px;
    height: 42px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #f37705;
    border: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .activeButton3 {
    width: 198px;
    height: 42px;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    background: #cf6300;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .disabledButton3 {
    width: 198px;
    height: 42px;
    border-radius: 10px;
    border: none;
    background-color: #c9c9c9;
    box-shadow: 0px 6px 18px 0px rgba(210, 210, 210, 0.42);
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .howerButton4 {
    width: 198px;
    height: 47px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #e54343;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .normalButton4 {
    width: 198px;
    height: 47px;
    border-radius: 10px;
    color: #fff;
    background-color: #df2d2d;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .activeButton4 {
    width: 198px;
    height: 47px;
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: #c20b0b;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  
  .disabledButton4 {
    width: 198px;
    height: 47px;
    color: #fff;
    border-radius: 10px;
    border: none;
    background-color: #c9c9c9;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.42px;
    cursor: pointer;
  }
  